.background-image {
    background-image: url("../images/FilmImg.jpg");
    /* The image used */
    background-color: aquamarine;
    /* Used if the image is unavailable */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.bulma-overlay-mixin {
    /*@include overlay(1.5rem);*/
    border-radius: 0.25em;
    color: black;
    opacity: 0.9;
    padding: 1em;
}

img{
    max-height: 300px;
    max-width: 300px;
    position: relative;
    float: right;
    margin-top: -29px;
}

.footer {
    justify-content: center;
}

.copyright {
    position: fixed;
    bottom: 0px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-left: 20px;
}

h1.title {
    font-size: xxx-large;
    margin-bottom: 1px;
    color: white;
}

.input {
    max-width: 500px;
    margin-bottom: 50px;
}

.search-area {
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.hide {
    display: none;
}