body {
    background-color: aquamarine;
}

.input{
    max-width: 500px;
    margin-bottom: 50px;
}

.search-area {
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.restaurants{
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.results li{
    margin-top: 20px;
}

.rating {
    display: inline-flex;
    margin-left: 10px;
}