body {
    
}

.background-image {
    background-image: url("../images/HomeBackgroundImg.jpg"); /* The image used */
    background-color: aquamarine;; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.input {
    max-width: 500px;
    margin-bottom: 50px;
}

.search-area {
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.restaurants {
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.results li {
    margin-top: 20px;
}

.rating {
    display: inline-flex;
    margin-left: 10px;
}